<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Library - @ViewBag.Title</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/css'>
    <!--AngularJs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/lms.css" rel="stylesheet" />
</head>
<body>
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/cloud-zoom.1.0.2.min.js"></script>
    <script src="~/Scripts/hl-lms.js"></script>

    <div class="container-fluid hl-container">
        <header class="row hl-header">
            @Html.Partial("_HeaderSingle")
        </header>

        <section class="hl-sheet row" style="width: 100%;">
            <div class="hl-body">
                @RenderBody()
            </div>
        </section>
    </div>
</body>
</html>

<style>
    .hl-header {
        text-align: center;
        width: 105%;
    }

    .hl-sheet {
        padding-left: 0 !important;
        text-align: center;
    }
</style>